<style>
h1 {

color: Green;
}
body {

background-color :white
;
}

</style>
h2 {

color: red;
font-size: 30px;
}
li {

font-family: Geneva;
color: orange;
font-size: 20px;
}
img {

width : 450px;
padding : 10px;

}
</style>
h3 {

color: blue;
font-size: 30px;
}
li {

font-family: Geneva;
color: white;
font-size: 20px;
}